html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: #9e8066; 
}

a {
  color: #00d1b2;
}

a:hover {
  color: #00d1b2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #b19984;
}

.section-2 {
	background-color: #9a7c62;
}

.section-3 {
	background-color: #77604b;
}

.section-4 {
	background-color: #77604b;
	padding: 0.2rem;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 2px solid rgba(244, 252, 255, 0.81);
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}
.Names{
	text-align: center;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
}
.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
	
}

.void-background {
	background-color: transparent; 
}
.contact-info {
    max-width: 400px;
    margin: 0 auto;
}
.contact-item {
    margin-bottom: 20px;
}
.contact-item span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}
